.top1{
    background:  blanchedalmond;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(142, 154, 35);
    
}
.h1{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rebeccapurple;
}
.myshop{
    padding-top: 6px;
    padding-left: 10px;
}
.header{
    display: flex;
    padding-left: 10px;
}
.header2{
    display: flex;
    padding-right: 10px;
}
.page{
    padding: 0 10px;
}
.mycard{
    border-radius: 7px;
    background-color: #dae8fc;
    border: 1px solid cyan;
    width: auto;
    height: 20px;
}
.content{
    padding: 30px;
    display: flex;
    
}

.img{
    display: flex;
    flex-direction: column;
}
.anh1{
    width: 500px;
    
}
.imgmain{
    width:300px;
    
}

.anh2{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    justify-content: space-between;
    
}
.imgsmall{
    width: 145px;
    padding: 1px;
}



